.ax_default {
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#333333;
  text-align:center;
  line-height:normal;
}
.shape {
  font-family:'SegoeUI', 'Segoe UI Normal', 'Segoe UI';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
.box_1 {
}
.box_2 {
}
.ellipse {
}
.image {
  font-family:'SegoeUI', 'Segoe UI Normal', 'Segoe UI';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#333333;
}
.placeholder {
}
.heading_1 {
  font-family:'SegoeUI', 'Segoe UI Normal', 'Segoe UI';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  text-align:left;
}
.heading_2 {
  font-family:'SegoeUI', 'Segoe UI Normal', 'Segoe UI';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-align:left;
}
.heading_3 {
  font-family:'SegoeUI', 'Segoe UI Normal', 'Segoe UI';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-align:left;
}
.heading_4 {
  font-family:'SegoeUI', 'Segoe UI Normal', 'Segoe UI';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
.heading_5 {
  font-family:'SegoeUI', 'Segoe UI Normal', 'Segoe UI';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
.heading_6 {
  font-family:'SegoeUI', 'Segoe UI Normal', 'Segoe UI';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
.label {
  font-family:'SegoeUI', 'Segoe UI Normal', 'Segoe UI';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
.paragraph {
  font-family:'SegoeUI', 'Segoe UI Normal', 'Segoe UI';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
.line {
}
.text_field {
  font-family:'SegoeUI', 'Segoe UI Normal', 'Segoe UI';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
  text-align:left;
}
.text_area {
  font-family:'SegoeUI', 'Segoe UI Normal', 'Segoe UI';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
  text-align:left;
}
.droplist {
  font-family:'SegoeUI', 'Segoe UI Normal', 'Segoe UI';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
  text-align:left;
}
.checkbox {
  font-family:'SegoeUI', 'Segoe UI Normal', 'Segoe UI';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
.radio_button {
  font-family:'SegoeUI', 'Segoe UI Normal', 'Segoe UI';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
.flow_shape {
  font-family:'SegoeUI', 'Segoe UI Normal', 'Segoe UI';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
